:host {
    width: 100%;
    padding: 40px 50px 20px;
    background-color: #f8fafb;
    box-sizing: border-box;
}

.avatar-big {
    margin: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.profile-detail {
    padding: 10px 20px;

    h3 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .state {
        padding-left: 20px;
        position: relative;
        line-height: 18px;

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 1px;
            width: 12px;
            height: 16px;
            background: url(/assets/images/icons/state.png);
        }
    }
}
