<div class="sidebar" fxLayout="column" fxLayoutAlign="flex-start flex-start">

    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <nav fxLayout="column" fxLayoutAlign="center flex-start">
        <a class="job-feed" routerLink="/job-feed" routerLinkActive="active" [@fadeInOut]>
            My Job Feed
        </a>
        <a class="discover-jobs" routerLink="/discover-jobs" routerLinkActive="active" [@fadeInOut]>
            Discover Jobs
        </a>
        <a class="saved-jobs" routerLink="/saved-jobs" routerLinkActive="active" [@fadeInOut]>
            Saved Jobs
        </a>
        <a class="proposal" routerLink="/proposal" routerLinkActive="active" [@fadeInOut]>
            Proposal
        </a>
        <a class="contracts" routerLink="/contracts" routerLinkActive="active" [@fadeInOut]>
            All Contracts
        </a>
        <a class="profile" routerLink="/profile/6" routerLinkActive="active" [@fadeInOut]>
            Profile
        </a>
        <a class="transaction" routerLink="/transaction" routerLinkActive="active" [@fadeInOut]>
            Transaction
        </a>
        <a class="reports" routerLink="/reports" routerLinkActive="active" [@fadeInOut]>
            Reports
        </a>
    </nav>

</div>