<img src="/assets/images/madal.png" alt="upgrade" />

<h3>Upgrade to <b>Pro</b></h3>

<p>I am a consultant for a small hotel business. I am currently with them through a rebrand, and they are in need of a new company logo.</p>

<ul>
    <li>Unlimited Job Post.</li>
    <li>Multiple job communication.</li>
    <li>Unlimited calling access from different city.</li>
    <li>Hire 10+ developers for one project.</li>
    <li>Filter, block, search talent freelancers.</li>
</ul>

<button class="primary">Upgrade Plan</button>